{% extends "base.html" %}

{% block contenido %}


<!--================Contact Area =================-->

<section class="contact_area section_gap">
    <div class="container">
        <h3 class="typo-list">Habitacion 101</h3>
        <div class="row">
            <div class="col-md-3">
                <img src="../static/image/room2.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-7">
                <form class="row contact_form">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h5 class="typo-list">Comentarios</h5>
                            <textarea class="form-control" name="message" id="message" rows="1"
                                placeholder="Cuentanos tu experiencia!"></textarea>
                        </div>
                        <h5 class="typo-list">Calificacion</h5>
                        <div class="default-select" id="default-select">
                            <select style="display: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <div class="nice-select" tabindex="0"><span class="current">Escoje una opción</span>
                                <ul class="list">
                                    <li data-value="1" class="option selected focus">1</li>
                                    <li data-value="2" class="option">2</li>
                                    <li data-value="3" class="option">3</li>
                                    <li data-value="4" class="option">4</li>
                                    <li data-value="5" class="option">5</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit" value="submit" class="btn theme_btn button_hover">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>


<!--================Contact Area =================-->

{% endblock %}