<!doctype html>
<html lang="en">
    <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="icon" href="../static/image/Favicon_1.jpg" type="image/png|">
            <title>The Cullinan South Tower</title>
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="../static/css/bootstrap.css">
            <link rel="stylesheet" href="../static/vendors/linericon.css">
            <link rel="stylesheet" href="../static/css/font-awesome.min.css">
            <link rel="stylesheet" href="../static/vendors/owl-carousel/owl.carousel.min.css">
            <link rel="stylesheet" href="../static/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
            <link rel="stylesheet" href="../static/vendors/nice-select/css/nice-select.css">
            <link rel="stylesheet" href="../static/vendors/owl-carousel/owl.carousel.min.css">
            <!-- main css -->
            <link rel="stylesheet" href="../static/css/style.css">
            <link rel="stylesheet" href="../static/css/responsive.css">
        
    </head>
    <body>
         <!--================Header Area =================-->
         <header class="header_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="templates\base.html"><img src="../static/image/Logo1.jpg"> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="index.html">Inicio</a></li> 
                            <li class="nav-item"><a class="nav-link" href="about.html">Nosotros</a></li>
                            <li class="nav-item"><a class="nav-link" href="accomodation.html">Reserva</a></li>
                            <li class="nav-item"><a class="nav-link" href="gallery.html">Galeria</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contacto</a></li>
                            <li class="nav-item"><a class="nav-link" href="">Iniciar sesión</a></li>
                        </ul>
                    </div> 
                </nav>
            </div>
        </header>
        <!--================Header Area =================-->

        <!--================Contact Area =================-->

        <section class="contact_area section_gap">
            <div class="container">
              <h3 class="typo-list">Habitacion 101</h3>
              <div class="row">
                <div class="col-md-3">
                  <img src="../static/image/room2.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-7">
                  <form class="row contact_form">
                    <div class="col-md-12">
                      <div class="form-group">
                        <h5 class="typo-list">Comentarios</h5>
                        <textarea class="form-control" name="message" id="message" rows="1"
                          placeholder="Cuentanos tu experiencia!"></textarea>
                      </div>
                      <h5 class="typo-list">Calificacion</h5>
                      <div class="default-select" id="default-select">
                        <select style="display: none;">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                        <div class="nice-select" tabindex="0"><span class="current">Escoje una opción</span>
                          <ul class="list">
                            <li data-value="1" class="option selected focus">1</li>
                            <li data-value="2" class="option">2</li>
                            <li data-value="3" class="option">3</li>
                            <li data-value="4" class="option">4</li>
                            <li data-value="5" class="option">5</li>
                          </ul>
                        </div>
                      </div>
                    </div>          
                    <div class="col-md-12 text-right">
                      <button type="submit" value="submit" class="btn theme_btn button_hover">Enviar</button>
                    </div>
                  </form>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
          </section>
          
          
        <!--================Contact Area =================-->


        <!--================ start footer Area  =================-->	
        <footer class="footer-area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Convenios</h6>
                            <p>The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Navegación</h6>
                            <div class="row">
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Inicio</a></li>
                                        <li><a href="#">Detalles</a></li>
                                        <li><a href="#">Servicios</a></li>
                                        <li><a href="#">Portfolio</a></li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Nosotros</a></li>
                                        <li><a href="#">Precios</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Contacto</a></li>
                                    </ul>
                                </div>										
                            </div>							
                        </div>
                    </div>							
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Newsletter</h6>
                            <p>For business professionals caught between high OEM price and mediocre print and graphic output, </p>		
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>		
                                    </div>									
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h6 class="footer_title">InstaFeed</h6>
                            <ul class="list_style instafeed d-flex flex-wrap">
                                <li><img src="image\instagram\Image-01.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-02.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-03.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-04.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-05.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-06.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-07.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-08.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>						
                </div>
                <div class="border_line"></div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    <div class="col-lg-4 col-sm-12 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->

        <!--<h1>The Cullinan South Tower - {% block titulo %} {% endblock %}</h1>

        {% block content %}  
        {% endblock %}-->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="../static/js/jquery-3.2.1.min.js"></script>
        <script src="../static/js/popper.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="../static/js/jquery.ajaxchimp.min.js"></script>
        <script src="../static/js/mail-script.js"></script>
        <script src="../static/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
        <script src="../static/vendors/nice-select/js/jquery.nice-select.js"></script>
        <script src="../static/js/mail-script.js"></script>
        <script src="../static/js/stellar.js"></script>
        <script src="../static/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="../static/js/custom.js"></script>
    </body>
</html>    