<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <!-- Enlazar css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css' ) }}">
    <title>Habitaciones</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class=flashes>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    <div class="container">
      <h1 class="mb-5">Gestion de Habitaciones</h1>
      <a href="/listar_habitaciones" class="btn btn-primary mb-5"> Listar Habitaciones </a>
      <form action="/editarhabitacion/{{ id_habitacion }}" method="POST">
        <div class="mb-3">
          <label for="nombre" class="form-label">Tipo de Habitacion: </label>
          <input type="text" class="form-control js-nombre" id="tipo_habitacion" value="{{habitacion[0]}}" title="Ingrese tipo habitacion" name="tipo_habitacion">
          <input type="hidden" name="idHabitacion" value="{{ id_habitacion }}">
        </div>
        <div class="mb-3">
          <label for="habitacion" class="form-label">Detalle habitacion: </label>
          <input type="text" class="form-control js-nombre" id="detalle_habitacion" value="{{habitacion[1]}}" title="Ingrese datalle" name="detalle_habitacion">
        </div>
        <div class="mb-3">
          <label for="valoracion" class="form-label">Valoracion: </label>
          <input type="number" class="form-control js-nombre" id="valoracion" value="{{habitacion[2]}}" title="Ingrese detalle habitacion" name="valoracion" min="1" max="5">
        </div>
        <div class="mb-3">
          <input type="checkbox" class="form-check-input" id="check" title="Ingrese valoracion" name="check" required>
          <label for="valoracion" class="form-label">Status </label>
        </div>
        <input type="submit" class="btn btn-primary" value="Ingresar"></input>
      </form>
    </div>
</body>
</html>