{% extends "base_admin.html" %}

{% block contenido %}
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-10 col-md-10">
                    <h3 class="typo-list">Listado reservas</h3>
                </div>
                <div class="col-lg-2 col-md-2 text-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarReserva">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Habitación</th>
                        <th>Usuario</th>
                        <th>Cliente</th>
                        <th>Ingreso</th>
                        <th>Salida</th>
                        <th>No. Personas</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Habitación</th>
                        <th>Usuario</th>
                        <th>Cliente</th>
                        <th>Ingreso</th>
                        <th>Salida</th>
                        <th>No. Personas</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for reserva in lista_reservas %}
                    <tr>
                        <td>{{reserva.id}}</td>
                        <td>{{reserva.habitacion_id}}</td>
                        <th>{{reserva.usuario}}</th>
                        <td>
                            {{reserva.nombre_cliente}} {{reserva.apellido_cliente}}
                        </td>
                        <td>{{reserva.fecha_ingreso}}</td>
                        <td>{{reserva.fecha_salida}}</td>
                        <td>{{reserva.cant_personas}}</td>
                        <td>
                            {% if reserva.estado == 0%}
                            Cancelada
                            {% elif reserva.estado == 1%}
                            Confirmada
                            {% elif reserva.estado == 2%}
                            Pagada
                            {% else %}
                            Error
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a class="" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fa fa-ellipsis-h fa-sm" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!" data-toggle="modal"
                                        data-target="#editarReserva">Editar</a></li>
                                <li><a class="dropdown-item" href="#!" data-toggle="modal"
                                        data-target="#eliminarReserva">Eliminar</a></li>
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block modales %}
    <!--================Inicio modales =================-->
    <!--================Agregar habitación=================-->
    <div class="modal fade bd-example-modal-lg" id="agregarReserva" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="/gestion_reservas/save" method="post" class="mt-2">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar Reserva</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="nombre_usuario">
                                            <h6>Nombre</h6>
                                        </label>
                                        <input type="text" name="nombre_usuario" id="nombre_usuario" placeholder="Nombre"
                                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nombre'" required
                                            class="single-input">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="apellido_usuario">
                                            <h6>Apellido</h6>
                                        </label>
                                        <input type="text" name="apellido_usuario" id="apellido_usuario" placeholder="Apellido"
                                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Apellido'" required
                                            class="single-input">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="telefono_usuario">
                                            <h6>Telefono</h6>
                                        </label>
                                        <input type="text" name="telefono_usuario" id="telefono_usuario" placeholder="Telefono"
                                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Telefono'" required
                                            class="single-input">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email_usuario">
                                            <h6>E-mail</h6>
                                        </label>
                                        <input type="email" name="email_usuario" id="email_usuario" placeholder="E-mail"
                                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-mail'" required
                                            class="single-input">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="direccion_usuario">
                                            <h6>Dirección</h6>
                                        </label>
                                        <input type="text" name="direccion_usuario" id="direccion_usuario"
                                            placeholder="Direccion" onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Direccion'" required class="single-input">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="tipo_habitacion">
                                            <h6>Tipo Habitacion</h6>
                                        </label>
                                        <div class="default-select">
                                            <select style="display: none" id="tipo_habitacion" name="tipo_habitacion">
                                                <option value="1">Sencilla</option>
                                                <option value="2">Doble</option>
                                                <option value="3">Romantica</option>
                                                <option value="0">Economica</option>
                                            </select>
                                            <div class="nice-select" tabindex="0"><span class="current">Tipo habitacion</span>
                                                <ul class="list">
                                                    <li data-value="1" class="option selected focus">Sencilla</li>
                                                    <li data-value="2" class="option">Doble</li>
                                                    <li data-value="3" class="option">Romantica</li>
                                                    <li data-value="0" class="option">Economica</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="check_in">
                                            <h6>Fecha Llegada</h6>
                                        </label>
                                        <input type="date" name="check_in" id="check_in" required class="single-input">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="check_out">
                                            <h6>Fecha Salida</h6>
                                        </label>
                                        <input type="date" name="check_out" id="check_out" required class="single-input">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="cant_huespedes">
                                            <h6>Cantidad de Personas</h6>
                                        </label>
                                        <input type="text" name="cant_huespedes" id="cant_huespedes"
                                            placeholder="Cantidad de Personas" onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Cantidad de Personas'" required class="single-input">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="estado_reserva">
                                            <h6>Estado</h6>
                                        </label>
                                        <div class="default-select">
                                            <select style="display: none" id="estado_reserva" name="estado_reserva">
                                                <option value="1">Confirmada</option>
                                                <option value="2">Pagada</option>
                                                <option value="0">Cancelada</option>
                                            </select>
                                            <div class="nice-select" tabindex="0"><span class="current">Estado reserva</span>
                                                <ul class="list">
                                                    <li data-value="1" class="option selected focus">Confirmada</li>
                                                    <li data-value="2" class="option">Pagada</li>
                                                    <li data-value="0" class="option">Cancelada</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--================Fin Agregar habitación===============-->
    
    <!--================Editar habitación=================-->
    <div class="modal fade bd-example-modal-lg" id="editarReserva" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Reserva</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" class="mt-2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_reserva">
                                        <h6>No. Reserva</h6>
                                    </label>
                                    <input type="text" value="123456" name="id_reserva" id="id_reserva" required disabled
                                        class="single-input">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_habitacion">
                                        <h6>No. Habitacion</h6>
                                    </label>
                                    <input type="text" name="id_habitacion" id="id_habitacion" placeholder="No. Habitacion"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'No. Habitacion'"
                                        required class="single-input">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nombre_usuario">
                                        <h6>Nombre</h6>
                                    </label>
                                    <input type="text" name="nombre_usuario" id="nombre_usuario" placeholder="Nombre"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nombre'" required
                                        class="single-input">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="apellido_usuario">
                                        <h6>Apellido</h6>
                                    </label>
                                    <input type="text" name="apellido_usuario" id="apellido_usuario" placeholder="Apellido"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Apellido'" required
                                        class="single-input">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="telefono_usuario">
                                        <h6>Telefono</h6>
                                    </label>
                                    <input type="text" name="telefono_usuario" id="telefono_usuario" placeholder="Telefono"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Telefono'" required
                                        class="single-input">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email_usuario">
                                        <h6>E-mail</h6>
                                    </label>
                                    <input type="email" name="email_usuario" id="email_usuario" placeholder="E-mail"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-mail'" required
                                        class="single-input">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="direccion_usuario">
                                        <h6>Dirección</h6>
                                    </label>
                                    <input type="text" name="direccion_usuario" id="direccion_usuario"
                                        placeholder="Direccion" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Direccion'" required class="single-input">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="tipo_habitacion">
                                        <h6>Tipo Habitacion</h6>
                                    </label>
                                    <div class="default-select">
                                        <select style="display: none" id="tipo_habitacion">
                                            <option value="1">Sencilla</option>
                                            <option value="2">Doble</option>
                                            <option value="3">Romantica</option>
                                            <option value="4">Economica</option>
                                        </select>
                                        <div class="nice-select" tabindex="0"><span class="current">Tipo habitacion</span>
                                            <ul class="list">
                                                <li data-value="1" class="option selected focus">Sencilla</li>
                                                <li data-value="2" class="option">Doble</li>
                                                <li data-value="3" class="option">Romantica</li>
                                                <li data-value="4" class="option">Economica</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="check_in">
                                        <h6>Fecha Llegada</h6>
                                    </label>
                                    <input type="date" name="check_in" id="check_in" required class="single-input">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="check_out">
                                        <h6>Fecha Salida</h6>
                                    </label>
                                    <input type="date" name="check_out" id="check_out" required class="single-input">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="cant_huespedes">
                                        <h6>Cantidad de Personas</h6>
                                    </label>
                                    <input type="text" name="cant_huespedes" id="cant_huespedes"
                                        placeholder="Cantidad de Personas" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Cantidad de Personas'" required class="single-input">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="estado_reserva">
                                        <h6>Estado</h6>
                                    </label>
                                    <div class="default-select">
                                        <select style="display: none" id="estado_reserva" name="estado_reserva">
                                            <option value="1">Confirmada</option>
                                            <option value="2">Pagada</option>
                                            <option value="0">Cancelada</option>
                                        </select>
                                        <div class="nice-select" tabindex="0"><span class="current">Estado reserva</span>
                                            <ul class="list">
                                                <li data-value="1" class="option selected focus">Confirmada</li>
                                                <li data-value="2" class="option">Pagada</li>
                                                <li data-value="0" class="option">Cancelada</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Editar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!--================Fin Editar habitación=================-->
    
    <!--================Eliminar habitación=================-->
    <div class="modal fade" id="eliminarReserva" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Reserva</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        ¿Seguro que desea eliminar esta reserva?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!--================Fin Eliminar habitación=================-->
    
    <!--================Fin modales =================-->
{% endblock %}   