{% extends "base_admin.html" %}

{% block contenido %}
  <div class="card mb-4">
  <div class="card-header">
    <div class="row">
      <div class="col-lg-10 col-md-10">
        <h3 class="typo-list">Listado habitaciones</h3>
      </div>
      <div class="col-lg-2 col-md-2 text-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarHabitacion">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table id="datatablesSimple">
      <thead>
        <tr>
          <th>#</th>
          <th>No. de Habitación</th>
          <th>Tipo Habitación</th>
          <th>Capacidad</th>
          <th>Estado</th>
          <th>Valor</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>#</th>
          <th>No. de Habitación</th>
          <th>Tipo de habitación</th>
          <th>Capacidad</th>
          <th>Estado</th>
          <th>Valor</th>
          <th>Opciones</th>
        </tr>
      </tfoot>
      <tbody>
        {% for habitacion in lista_habitaciones %}
        <tr>
          <td>{{ loop.index-1 }}</td>
          <td>{{ habitacion.id }}</td>
          <td>
            {% if habitacion.tipo_habitacion ==  0%}
              Economica
            {% elif habitacion.tipo_habitacion == 1%}
              Sencilla
            {% elif habitacion.tipo_habitacion == 2%}
              Sencilla
            {% elif habitacion.tipo_habitacion == 3%}
              Romantica
            {% else %}
              Error
            {% endif %}
          </td>
          <td>{{ habitacion.cant_personas }}</td>
          <td>
            {% if habitacion.estado == 0%}
              Inactiva
            {% elif habitacion.estado == 1%}
              Disponible
            {% elif habitacion.estado == 2%}
              Reservada
            {% else %}
              Error
            {% endif %}
          </td>
          <td>${{ habitacion.precio }}</td>
          <td class="text-center">
            <a class="" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-ellipsis-h fa-sm" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#!" data-toggle="modal" data-target="#editarHabitacion"></i> Editar</a>
              </li>
              <li><a class="dropdown-item" href="#!" data-toggle="modal" data-target="#eliminarHabitacion"></i>
                  Eliminar</a></li>
            </ul>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
{% endblock %}

{% block modales %}
  <!--================Inicio modales =================-->
  <!--================Agregar habitación=================-->
  <div class="modal fade bd-example-modal-lg" id="agregarHabitacion" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form action="/gestion_habitaciones/save" method="post" class="mt-2">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar Habitación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <!--<label class="form-label" for="id_habitacion"><h5>Numero Habitacion</h5></label>-->
                    <input type="text" name="id_habitacion" id="id_habitacion" placeholder="Numero Habitacion"
                      onfocus="this.placeholder = ''" onblur="this.placeholder = 'Numero Habitacion'" required
                      class="single-input">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <!--<label class="form-label" for="tipo_habitacion"><h5>Tipo Habitacion</h5></label>-->
                    <div class="default-select">
                      <select style="display: none" id="tipo_habitacion" name="tipo_habitacion">
                        <option value="1">Sencilla</option>
                        <option value="2">Doble</option>
                        <option value="3">Romantica</option>
                        <option value="0">Economica</option>
                      </select>
                      <div class="nice-select" tabindex="0"><span class="current">Tipo habitacion</span>
                        <ul class="list">
                          <li data-value="1" class="option selected focus">Sencilla</li>
                          <li data-value="2" class="option">Doble</li>
                          <li data-value="3" class="option">Romantica</li>
                          <li data-value="0" class="option">Economica</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <!--<label class="form-label" for="cant_huespedes"><h5>Cantidad Personas</h5></label>-->
                    <input type="text" name="cant_huespedes" id="cant_huespedes" placeholder="Cantidad Personas"
                      onfocus="this.placeholder = ''" onblur="this.placeholder = 'Cantidad Personas'" required
                      class="single-input">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <!--<label class="form-label" for="precio_habitacion"><h5>Precio</h5></label>-->
                    <input type="text" name="precio_habitacion" id="precio_habitacion" placeholder="Precio" onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Precio'" required class="single-input">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <!--<label class="form-label" for="status_habitacion"><h5>Status</h5></label>-->
                    <div class="default-select">
                      <select style="display: none" id="status_habitacion" name="status_habitacion">
                        <option value="1">Disponible</option>
                        <option value="2">Reservada</option>
                        <option value="0">Inactiva</option>
                      </select>
                      <div class="nice-select" tabindex="0"><span class="current">Status</span>
                        <ul class="list">
                          <li data-value="1" class="option selected focus">Disponible</li>
                          <li data-value="2" class="option">Reservada</li>
                          <li data-value="0" class="option">Inactiva</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Agregar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--================Fin Agregar habitación===============-->
  
  <!--================Editar habitación=================-->
  <div class="modal fade bd-example-modal-lg" id="editarHabitacion" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form action="/gestion_habitaciones/update" method="post" class="mt-2">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Habitación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <!--<label class="form-label" for="id_habitacion"><h5>Numero Habitacion</h5></label>-->
                    <input type="text" name="id_habitacion_e" id="id_habitacion_e" value="101" required disabled
                      class="single-input">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <!--<label class="form-label" for="tipo_habitacion"><h5>Tipo Habitacion</h5></label>-->
                    <div class="default-select">
                      <select style="display: none" id="tipo_habitacion_e" name="tipo_habitacion_e">
                        <option value="1">Sencilla</option>
                        <option value="2">Doble</option>
                        <option value="3">Romantica</option>
                        <option value="0">Economica</option>
                      </select>
                      <div class="nice-select" tabindex="0"><span class="current">Tipo habitacion</span>
                        <ul class="list">
                          <li data-value="1" class="option selected focus">Sencilla</li>
                          <li data-value="2" class="option">Doble</li>
                          <li data-value="3" class="option">Romantica</li>
                          <li data-value="0" class="option">Economica</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <!--<label class="form-label" for="cant_huespedes"><h5>Cantidad Personas</h5></label>-->
                    <input type="text" name="cant_huespedes_e" id="cant_huespedes_e" placeholder="Cantidad Personas"
                      onfocus="this.placeholder = ''" onblur="this.placeholder = 'Cantidad Personas'" required
                      class="single-input">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <!--<label class="form-label" for="precio_habitacion"><h5>Precio</h5></label>-->
                    <input type="text" id="precio_habitacion_e" name="precio_habitacion_e" placeholder="Precio" onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Precio'" required class="single-input">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <!--<label class="form-label" for="status_habitacion"><h5>Status</h5></label>-->
                    <div class="default-select">
                      <select style="display: none" id="status_habitacion_e" name="status_habitacion_e">
                        <option value="1">Disponible</option>
                        <option value="2">Reservada</option>
                        <option value="0">Inactiva</option>
                      </select>
                      <div class="nice-select" tabindex="0"><span class="current">Status</span>
                        <ul class="list">
                          <li data-value="1" class="option selected focus">Disponible</li>
                          <li data-value="2" class="option">Reservada</li>
                          <li data-value="0" class="option">Inactiva</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Editar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--================Fin Editar habitación=================-->
  
  <!--================Eliminar habitación=================-->
  <div class="modal fade" id="eliminarHabitacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Habitación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            ¿Seguro que desea eliminar la habitación?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Eliminar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!--================Fin Eliminar habitación=================-->
  
  <!--================Fin modales =================-->
{% endblock %}  