{% extends "base_admin.html" %}

{% block username %}
Admin1
{% endblock %}

{% block contenido %}
  <div class="card mb-4">
    <div class="card-header">
      <div class="row">
        <div class="col-lg-10 col-md-10">
          <h3 class="typo-list">Listado de Usuarios</h3>
        </div>
        <div class="col-lg-2 col-md-2 text-right">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarUsuario">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table id="datatablesSimple">
        <thead>
          <tr>
            <th>#</th>
            <th>ID de Usuario</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Tipo Usuario</th>
            <th>Estado</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>#</th>
            <th>ID de Usuario</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Tipo Usuario</th>
            <th>Estado</th>
            <th>Opciones</th>
          </tr>
        </tfoot>
        <tbody>
          {% for usuario in lista_usuarios %}
            {% if usuario.tipo_usuario == 0 or usuario.tipo_usuario == 1%}
            <tr>
              <th>{{ loop.index-1 }}</th>
              <td>{{usuario.username}}</td>
              <td>{{usuario.nombre}} </td>
              <td>{{usuario.apellido}}</td>
              <td>
                {% if usuario.tipo_usuario == 0%}
                Super Administrador
                {% elif usuario.tipo_usuario == 1%}
                Administrador
                {% elif usuario.tipo_usuario == 2%}
                Cliente
                {% else %}
                Error
                {% endif %}
              </td>
              <td>
                {% if usuario.estado == 0%}
                Inactivo
                {% elif usuario.estado == 1%}
                Activo
                {% else %}
                Error
                {% endif %}
              </td>
              <td class="text-center">
                <a class="" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-ellipsis-h fa-sm" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#!" data-toggle="modal" data-target="#editarUsuario"></i> Editar</a>
                  </li>
                  <li><a class="dropdown-item" href="#!" data-toggle="modal" data-target="#eliminarUsuario"></i>
                      Eliminar</a></li>
                </ul>
              </td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}

{% block modales %}
  <!--================Inicio modales =================-->
  <!--================Agregar habitación=================-->
  <div class="modal fade bd-example-modal-lg" id="agregarUsuario" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form action="/gestion_usuarios/save" method="post" class="mt-2">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar Usuario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <!--<label class="form-label" for="id_habitacion"><h5>Numero Habitacion</h5></label>-->
                    <input type="text" name="username" id="username" placeholder="ID Usuario"
                      onfocus="this.placeholder = ''" onblur="this.placeholder = 'ID Usuario'" required
                      class="single-input">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <!--<label class="form-label" for="id_habitacion"><h5>Numero Habitacion</h5></label>-->
                    <input type="password" name="password" id="password" placeholder="Contraseña" onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Contraseña'" required class="single-input">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <!--<label class="form-label" for="cant_huespedes"><h5>Cantidad Personas</h5></label>-->
                    <input type="text" name="id_nombre" id="id_nombre" placeholder="Nombre" onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Nombre'" required class="single-input">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <!--<label class="form-label" for="precio_habitacion"><h5>Precio</h5></label>-->
                    <input type="text" id="id_apellido" name="id_apellido"  placeholder="Apellido" onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Apellido'" required class="single-input">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="default-select"> 
                      <select style="display: none" id="tipo_usuario" name="tipo_usuario">
                        <option value="1">Administrador</option>
                        <option value="0">Super Administrador</option>
                      </select>
                      <div class="nice-select" tabindex="0"><span class="current">Tipo Usuario</span>
                        <ul class="list">
                          <li data-value="1" class="option selected focus">Administrador</li>
                          <li data-value="0" class="option">Super Administrador</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="default-select"> 
                      <select style="display: none" id="estado" name="estado">
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                      </select>
                      <div class="nice-select" tabindex="0"><span class="current">Estado</span>
                        <ul class="list">
                          <li data-value="1" class="option selected focus">Activo</li>
                          <li data-value="0" class="option">Inactivo</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Agregar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--================Fin Agregar habitación===============-->
  
  <!--================Editar habitación=================-->
  <div class="modal fade bd-example-modal-lg" id="editarUsuario" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <form action="#" class="mt-2">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <!--<label class="form-label" for="id_habitacion"><h5>Numero Habitacion</h5></label>-->
                  <input type="text" name="first_name" id="id_user" value="ID Usuario" required disabled
                    class="single-input">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <!--<label class="form-label" for="tipo_habitacion"><h5>Tipo Habitacion</h5></label>-->
                  <div class="default-select">
                    <select style="display: none" id="tipo_User">
                      <option value="1">SuperAdmin</option>
                      <option value="2">Admin</option>
  
                    </select>
                    <div class="nice-select" tabindex="0"><span class="current">Tipo Usuario</span>
                      <ul class="list">
                        <li data-value="1" class="option selected focus">SuperAdmin</li>
                        <li data-value="2" class="option">Admin</li>
  
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <!--<label class="form-label" for="cant_huespedes"><h5>Cantidad Personas</h5></label>-->
                  <input type="text" name="last_name" id="id_nombre" placeholder="Nombre" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Nombre'" required class="single-input">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <!--<label class="form-label" for="precio_habitacion"><h5>Precio</h5></label>-->
                  <input type="text" id="apellido" placeholder="Apellido" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Apellido'" required class="single-input">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <!--<label class="form-label" for="status_habitacion"><h5>Status</h5></label>-->
                  <div class="default-select">
                    <select style="display: none" id="status_habitacion">
                      <option value="1">Disponible</option>
                      <option value="2">Reservada</option>
                      <option value="3">Inactiva</option>
                    </select>
                    <div class="nice-select" tabindex="0"><span class="current">Estado</span>
                      <ul class="list">
                        <li data-value="1" class="option selected focus">Activo</li>
                        <li data-value="2" class="option">Inactivo</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Editar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!--================Fin Editar habitación=================-->
  
  <!--================Eliminar habitación=================-->
  <div class="modal fade" id="eliminarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            ¿Seguro que desea eliminar el usuario?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Eliminar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!--================Fin Eliminar habitación=================-->
  <!--================Fin modales =================-->
{% endblock %}  