{% extends "base.html" %}

{% block contenido %}

<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Habitaciones</h2>

        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->

<!--================Booking Tabel Area =================-->
<section class="hotel_booking_area">
    <div class="container">
        <div class="hotel_booking_table">
            <div class="col-md-3">
                <h2>Modifica<br> Tu busqueda</h2>
            </div>
            <div class="col-md-9">
                <div class="boking_table">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="book_tabel_item">
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker11'>
                                        <input type='text' class="form-control" placeholder="Fecha de llegada" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" placeholder="Fecha de salida" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="book_tabel_item">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="single-input form-control"
                                            placeholder="Cantidad Adultos">
                                        <span class="input-group-addon">
                                            <i class="fa fa-male" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="single-input form-control"
                                            placeholder="Cantidad niños">
                                        <span class="input-group-addon">
                                            <i class="fa fa-male" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="book_tabel_item">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="single-input form-control"
                                            placeholder="Cantidad de habitaciones">
                                        <span class="input-group-addon">
                                            <i class="fa fa-bed" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>

                                <a class="book_now_btn button_hover" data-toggle="modal" data-target="#modalreserva">
                                    Editar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Booking Tabel Area  =================-->


<!--================ Accomodation Area  =================-->
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Nuestras Habitaciones</h2>

        </div>
        <div class="row accomodation_two">
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="../static/image/room1.jpg" data-toggle="modal" data-target="#modalreserva">
                        <a class="btn theme_btn button_hover" data-toggle="modal" data-target="#modalreserva">
                            Reservar
                        </a>
                    </div>
                    <a data-toggle="modal" data-target="#modalreserva">
                        <h4 class="sec_h4">Habitación Doble</h4>
                    </a>
                    <h5>$250<small>/noche</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="../static/image/room2.jpg" data-toggle="modal" data-target="#modalreserva">
                        <a class="btn theme_btn button_hover" data-toggle="modal" data-target="#modalreserva">
                            Reservar
                        </a>
                    </div>
                    <a data-toggle="modal" data-target="#modalreserva">
                        <h4 class="sec_h4">Habitación sencilla</h4>
                    </a>
                    <h5>$200<small>/noche</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="../static/image/room3.jpg" data-toggle="modal" data-target="#modalreserva">
                        <a class="btn theme_btn button_hover" data-toggle="modal" data-target="#modalreserva">
                            Reservar
                        </a>
                    </div>
                    <a data-toggle="modal" data-target="#modalreserva">
                        <h4 class="sec_h4">Habitación Romantica</h4>
                    </a>
                    <h5>$750<small>/noche</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="../static/image/room4.jpg" data-toggle="modal" data-target="#modalreserva">
                        <a class="btn theme_btn button_hover" data-toggle="modal" data-target="#modalreserva">
                            Reservar
                        </a>
                    </div>
                    <a data-toggle="modal" data-target="#modalreserva">
                        <h4 class="sec_h4">Habitación económica</h4>
                    </a>

                    <h5>$150<small>/noche</small></h5>
                </div>
            </div>

        </div>
    </div>
    </div>
    <!-- Button trigger modal 
    <button type="button" class="btn theme_btn button_hover" data-toggle="modal" data-target="#modalreserva">
        reserva
    </button>-->

    <!-- Modal -->
    <div class="modal fade" id="modalreserva" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/crear_reserva" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">REALIZA TU RESERVA</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa tu nombre">
                        </div>
                    
                        <div class="form-group">
                            <label for="apellido">Apellido</label>
                            <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Ingresa tu apellido">
                        </div>
                    
                        <div class="form-group">
                            <label for="telefono">Telefono</label>
                            <input type="text" class="form-control" name="telefono" id="telefono" placeholder="Ingresa tu telefono">
                        </div>

                        <div class="form-group">
                            <label for="direccion">Direccion</label>
                            <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Ingresa tu dirección">
                        </div>
                    
                        <div class="form-group">
                            <label for="email">Correo electronico</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Ingresa tu email">
                        </div>
                    
                        <div class="form-group">
                            <label for="tipo_hab">Selecciona habitacion</label>
                            <div class="default-select">
                                <select style="display: none" id="tipo_hab" name="tipo_hab">
                                    <option value="0">Economica</option>
                                    <option value="1">Sencilla</option>
                                    <option value="2">Doble</option>
                                    <option value="3">Romantica</option>
                                </select>
                                <div class="nice-select" tabindex="0"><span class="current">Tipo habitacion</span>
                                    <ul class="list">
                                        <li data-value="0" class="option selected focus">Economica</li>
                                        <li data-value="1" class="option">Sencilla</li>
                                        <li data-value="2" class="option">Doble</li>
                                        <li data-value="3" class="option">Romantica</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker11'>
                                <input type='text' class="form-control" name="check_in" placeholder="Fecha de llegada" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" name="check_out" placeholder="Fecha de salida" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="single-input form-control" name="cant_ad" placeholder="Cantidad Adultos">
                                <span class="input-group-addon">
                                    <i class="fa fa-male" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="single-input form-control" name="cant_ni" placeholder="Cantidad niños">
                                <span class="input-group-addon">
                                    <i class="fa fa-male" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        
                        <button type="submit" class="book_now_btn button_hover">Reservar</button>
                    </div>
                </form>
</section>
<!--================ Accomodation Area  =================-->


{% endblock %}