{% extends "base.html" %}

{% block contenido %}

<!--================Banner Area =================-->
<section class="banner_area">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="">
        </div>
        <div class="container">
            <div class="banner_content text-center">
                <h6>Lejos de la monotonía</h6>
                <h2>Relaja tu mente</h2>
                <p>Si estás buscando un lugar paradisiaco<br> nuestro hotel es para ti y una tarifa especial. </p>
                <a href="/login" class="btn theme_btn button_hover">Empecemos</a>
            </div>
        </div>
    </div>
    <div class="hotel_booking_area position">
        <div class="container">
            <div class="hotel_booking_table">
                <div class="col-md-3">
                    <h2>Realiza<br> Tu reserva</h2>
                </div>
                <div class="col-md-9">
                    <div class="boking_table">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker11'>
                                            <input type='text' class="form-control" placeholder="Fecha de llegada" />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" placeholder="Fecha de salida" />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="single-input form-control" placeholder="Cantidad Adultos">
                                            <span class="input-group-addon">
                                                <i class="fa fa-male" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="single-input form-control" placeholder="Cantidad niños">
                                            <span class="input-group-addon">
                                                <i class="fa fa-male" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                
                
                
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="single-input form-control" placeholder="Cantidad de habitaciones">
                                            <span class="input-group-addon">
                                                <i class="fa fa-bed" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                
                                    <a class="book_now_btn button_hover" href="/reserva">Reservar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Banner Area =================-->
<!--================ About History Area  =================-->
<section class="about_history_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d_flex align-items-center">
                <div class="about_content ">
                    <h2 class="title title_color">Conoce<br>nuestra historia<br>Mision y Vision</h2>
                    <p>Somos un lugar de ensueño para que te desconectes de las actividades diarias ace higher conduct
                        standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on
                        the job is beyond reproach. inappropriate behavior is often laughed.</p>
                    <a href="/contacto" class="button_hover theme_btn_two">Solicita una cotización</a>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="..\static\image\about_bg.jpg" alt="img">
            </div>
        </div>
    </div>
</section>
<!--================ About History Area  =================-->

{% endblock %}