{% extends "base.html" %}

{% block contenido %}

<!--================Form Area =================-->
<div class="sample-text-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-lg-8 col-md-8">
                <h3 class="mb-30 title_color">Inicia Sesión</h3>
                <form action="/login" method="post">
                    <div class="mt-10">
                        <input type="text" name="usuario" placeholder="Usuario" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Usuario'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="password" name="password" placeholder="Contraseña" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Contraseña'" required class="single-input">

                        <div class="mt-10">
                            <button type="submit" class="genric-btn primary circle">Enviar</button>
                            <a href="/registro" class="genric-btn primary circle">Registrar</a>
                        </div>

                </form>

            </div>
            <div class="col-lg-2 col-md-2"></div>
        </div>
    </div>
</div>


{% endblock %}