{% extends "base.html" %}

{% block contenido %}

<!--================Form Area =================-->
<div class="sample-text-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-lg-8 col-md-8">
                <h3 class="mb-30 title_color">Registrate</h3>
                <form methods="GET" action="/registrarusuarios">
                    <div class="mt-10">
                        <input type="text" name="nombre_usuario" placeholder="Nombre" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Nombre'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="text" name="apellido_usuario" placeholder="Apellido"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Apellido'" required
                            class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="text" name="usuario" placeholder="Usuario" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Usuario'" required class="single-input">
                    </div>

                    <div class="mt-10">
                        <input type="email" name="email" placeholder="Email" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Email'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="text" name="direccion" placeholder="Direccion" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Direccion'" class="single-input">
                    </div>

                    <div class="mt-10">
                        <input type="text" name="telefono" placeholder="Telefono" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Telefono'" required class="single-input">
                    </div>

                    <div class="mt-10">
                        <input type="password" name="contrasena" placeholder="Contraseña"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña'" required
                            class="single-input">
                    </div>

                    <div class="mt-10">
                        <input type="password" name="contrasena2" placeholder="Confirma tu Contraseña"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'confirma tu Contraseña'"
                            required class="single-input">
                    </div>

                    <div class="mt-10">
                        <div class="botones-formulario">
                            <input type="submit" class="genric-btn primary circle" value="Crear Cuenta" />
                        </div>

                </form>

            </div>
            <div class="col-lg-2 col-md-2"></div>
        </div>
    </div>
</div>

{% endblock %}